* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(244, 194, 134);
}

ol {
  display: flex;
  flex-wrap: wrap;
}

.task {
  border: 2px solid rgb(242, 238, 238);
  border-radius: 10%;
  width: 12em;
  height: 9em;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(59, 83, 199);
}

.task * {
  background-color:rgb(59, 83, 199);
  color: rgb(242, 238, 238);
  text-align: center;
}

h2, p {
  height: 8px;
}